$bg-img: url('../../public/images/front-section-background-pics/background.png');
$transparent-left-img: url('../../public/images/front-section-background-pics/transparent-image-1.png');
$transparent-right-img: url('../../public/images/front-section-background-pics/transparent-image-2.png');
$join-dc-img: url('../../public/images/sections-pics/joinDiscord.png');

.even-section{
  background-color: #f6f6f6;
}

.btn{
  border-radius: 50px;
}

#center-page{
  width:100%;
  background-color: #404eed;
  .center-page{
    height:626px;
    max-width:100%;
    .navbar{
      width:100%;
      height:80px;
      .nav-link{
        margin:10px;
        color:white;
      }
      #open-discord-button{
        font-size:14px;
        padding: 7px 16px;
        line-height: 24px;
        font-weight:500
      }
    }
  }
}

.ordinary-sections {
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;

  .pics-and-paragraph {
    width: 1260px;

    .sections-paragraph {
      width: 380px;
      height: 440px;
      margin-left: 100px;

      .paragraph-topic {
        font-size: 48px;
        font-weight: bold;
      }

      .paragraph {
        font-size: 18px;
        margin-top: 25px;
      }
    }
  }
}

.big-central-section{
  height:900px;
  background: linear-gradient(#f6f6f6, #FFFFFF);
  .big-central-pics-and-paragraph{
    padding: 120px 40px 80px;
    .big-central-paragraph{
      width:980px;
    }
  }
}

.join-discord{
  background-image: $join-dc-img;
  background-repeat: no-repeat;
  background-position: top;
  height:280px;
  #download-discord-button{
    padding: 15px 40px;
    font-size: 18px;
    background-color: #5865f2;
  }
}

#front-section-box{
  width:1900px;
  max-width: 2560px;
  height:calc(100% - 80px);
  background-image: $transparent-left-img, $transparent-right-img, $bg-img;
  background-position: left -80px bottom, right -40px bottom, bottom;
  background-repeat: no-repeat;
  #front-slogan-and-buttons{
    width:1260px;
    height:100%px;
    padding: 0 275px;
    #front-slogan{
      margin-bottom: 50px;
    }
    #front-paragraph{
      font-size: 19px;
      color:white;
      margin-bottom: 30px;
    }
    #front-buttons{
      .front-buttons{
        padding: 15px 40px;
        font-size: 18px;
      }
    }
  }
}
