$bg-img: url('../../public/images/first-section/background.png');
$transparent-left-img: url('../../public/images/first-section/transparent-image-1.png');
$transparent-right-img: url('../../public/images/first-section/transparent-image-2.png');
$join-dc-img: url('../../public/images/joinDiscord.png');

.even-section{
  background-color: #f6f6f6;
}

.btn{
  border-radius: 50px;
}

.center-page{
  background-image:$transparent-left-img, $transparent-right-img, $bg-img;
  background-size: 800px 800px auto;
  background-position: 250px bottom, 1650px bottom , left;
  background-repeat: no-repeat;
  background-color: #404eed;
  height:626px;
  max-width:100%;
  .nav-link{
    margin:10px;
    color:white;
  }
  #open-discord-button{
    font-size:14px;
    padding: 7px 16px;
    line-height: 24px;
    font-weight:500
  }
}

.ordinary-sections {
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;

  .pics-and-paragraph {
    width: 1260px;

    .sections-paragraph {
      width: 380px;
      height: 440px;
      margin-left: 100px;

      .paragraph-topic {
        font-size: 48px;
      }

      .paragraph {
        font-size: 18px;
        margin-top: 25px;
      }
    }
  }
}

.big-central-section{
  height:900px;
  .big-central-pics-and-paragraph{
    padding: 120px 40px 80px;
    .big-central-paragraph{
      width:980px;
    }
  }
}

.join-discord{
  background-image: $join-dc-img;
  background-repeat: no-repeat;
  background-position: top;
  height:280px;
  #download-discord-button{
    padding: 15px 40px;
    font-size: 18px;
    background-color: #5865f2;
  }
}

#front-section-box{
  width:100%;
  margin-top: 100px;
  #front-slogan-and-buttons{
    width:1260px;
    height:300px;
    padding: 0 275px;
    #front-slogan{
      margin-bottom: 50px;
    }
    #front-paragraph{
      font-size: 19px;
      color:white;
      margin-bottom: 30px;
    }
    #front-buttons{
      .front-buttons{
        padding: 15px 40px;
        font-size: 18px;
      }
    }
  }
}
